<div class="row">
  <div class="col-3 p-4" [ngStyle]="{'background-color':bgColor,'color':'blue'}">
    Color
  </div>
  <div class="col-3" [ngStyle]="{'background-color':isChecked?'yellow':'teal'}">
    Condition
  </div>
  <div class="col-3" [ngStyle]="myCss">
    Default
  </div>
</div>
<div class="row pt-2">
  <div class="col-3">
    <button class="btn btn-success me-4" (click)="changeBgColor('green')">Green</button>
    <button class="btn btn-danger" (click)="changeBgColor('red')">Red</button>
  </div>
  <div class="col-3">
    <input type="checkbox" [(ngModel)]="isChecked">
  </div>
</div>